*{
    margin:0;
    padding:0;
}
body{
    background-color: #f9f2ff;
}
a{
    text-decoration: none;
    color:none;
}
ul li{
    text-decoration: none;
}
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.paragraph_text{
    color:rgba(37, 36, 50, 0.5);
    padding:24px 0;
    
}
.paragraph_text2{
    color:rgba(37, 36, 50, 0.5);
    
}
.button-primary{
    /*background:#4E47FF;*/
    background: linear-gradient(135deg, #c38be7, #8a6be0);

    padding:12px 36px;
    font-weight:bold;
    font-size:16px;
    border:none;
    border-radius:10px;
    color:#fff;
    transition: all 300ms ease-in-out;
    
}
.button-primary:hover {
  background: linear-gradient(135deg, #a86de0, #6f49d6);
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  
}
header{
    background-image: url(../images/head-bg.jpg);
    margin-top:0px;
    background-size:cover;
    background-attachment: fixed;
    padding-bottom:100px;
}
/*navbar style*/
nav{
    max-width:1100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px auto;
    padding-top:20px;  

}

.banner{
    max-width:905px;
    margin:100px auto;
    padding:20px;
    text-align:center;
}
.banner-title{
    color:#252432;
    font-size:45px;
    font-weight: bold;
    padding-bottom:40px;
}
section{
    
    margin:120px 0;
}

/* ---main style---*/
main{
    max-width:1100px;
    margin:0 auto;
}

.see_it{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see_left{
    width:400px;
    text-align:justify;
}
.see_left p{
    padding:23px 0;
}
.text_title{
    color:#252432;
}
.see_img{
    width:300px;
    height:auto;
    border:none;
    border-radius: 48px;
}


.user{
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    padding:100px 50px;
    border-radius: 24px;
}
.user_divs{
    display: flex;
    justify-content: space-between;
    padding-top:40px;
}
.user_title{
    font-size:55px;
    color:#7a4ec2;
}


.what_say h3{
    text-align:center;
}

.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;    
   
}
.cart_items{
    background:#fff;
    margin:20px;
    padding:24px;
    border-radius: 14px;
    border:1px solid rgba(242, 237, 237, 1)
}
.cart_title{
    padding:20px 0;
    font-weight:bold;
    font-size:18px;
}
.client{
    padding:20px 0;
    display: flex;
    color:rgba(37, 36, 50, 0.5);
}
.cl_img img{
    border-radius: 50%;
    margin-right:20px;
    width:50px;
    height:auto;
}

/*ready to focus*/
.ready{
    background:#fff;
    text-align:center;
    padding:150px 70px;
}
.ready_title{
    font-size:28px;
}
.ready img{
    border-radius: 48px;
}

/*---get in ---*/
.get_in{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get_title{
    font-size:60px;
}
.get_form input,textarea,button{
    display:block;
    padding:10px 20px;
    width:300px;
    border:1px solid #D6DDED;
    border-radius: 10px;
    background:#fff;
    margin:10px 0;
}
.get_form button{
    width:100%;
}

/*---Footer style--*/
footer{
    background:#fff;
    align-items: center;
}